.metric-container {
    background-color: rgb(231, 231, 231);
    height: 94vh;
}

.annual-incidents-chart-container {
    background-color: #e4f3fd !important;
    width: 100vw;
    margin: 1rem;
}

.age-category-chart-container {
    height: auto;
}
