.event-container {
    background-color: rgb(231, 231, 231);
    height: 94vh;
}

.event-table-container {
    width: 100vw;
    overflow: auto;
    margin: 1rem;
}

.event-search-container {
    width: 100vw;
    margin: 1rem;
}

.search-event-button {
    width: 100%;
    margin: 0 !important;
    font-weight: 700 !important;
}

.map-container {
    height: 20rem;
}

.modal-custom-dark-header {
    background-color: rgb(32, 32, 32);
}

.event-form-invalid-text {
    color: #dc3545;
    font-size: 80%;
}

.event-date-picker {
    width: 20rem !important;
}
