.patient-container {
    background-color: rgb(231, 231, 231);
    height: 94vh;
}

.patient-table-container {
    background-color: white;
    width: 100vw;
    margin: 1rem;
    padding-left: 1rem;
}
