.home-container {
    background-color: rgb(231, 231, 231);
    height: 94vh;
}

.main-card {
    border: 1px;
    max-width: 100%;
    overflow: auto;
    /* box-shadow: none; */

    align-items: stretch;
}

.card-title {
    text-align: center;
}

.map-container {
    height: 150px;
    width: 100%;
}

.incident-card {
    padding: 5px;
    border-style: solid;
    border-width: 1.5px;
    border-color: rgb(197, 197, 197);
    border-radius: 0.25rem;
    height: 7rem;
    justify-content: space-around;
}

.event-card {
    padding: 5px;
    border-style: solid;
    border-width: 1.5px;
    border-color: rgb(197, 197, 197);
    border-radius: 0.25rem;
    height: 8rem;
    justify-content: space-around;
}

.event-name-text {
    font-size: 0.85rem;
    color: black;
    font-weight: bold;
}

.incident-reporter-text {
    font-size: 0.85rem;
    color: black;
    font-weight: bold;
}

.timestamp-text {
    font-size: 0.8rem;
    color: #808080;
    font-weight: 600;
}

.view-report-text {
    font-size: 0.85rem;
    color: #0d63ae !important;
    font-weight: bold;
}

.view-event-text {
    font-size: 0.85rem;
    color: #0d63ae !important;
    font-weight: bold;
}

.incident-array-container {
    max-height: 80vh;
    overflow: auto;
}

.summary-array-container {
    height: 30vh;
    overflow: auto;
}

.event-array-container {
    height: 43vh;
    overflow: auto;
}

.verify-report-text {
    font-size: 0.85rem;
    color: #00841f !important;
    font-weight: bold;
}

.decline-report-text {
    font-size: 0.85rem;
    color: #b20404 !important;
    font-weight: bold;
}

.incident-description-text {
    font-size: 0.95rem;
    color: black;
    font-weight: 500;
}

.event-coordinator-text {
    font-size: 0.95rem;
    color: black;
    font-weight: 500;
}

.venue-map-container {
    height: 250px;
    width: 100%;
}
